.terms {
    padding-top: 90px;
    padding-right: 20px;
    padding-bottom: 46px;
    display: flex;
    align-items: stretch;
    gap: 30px;
}
.preim__box {

}
.terms__wrapper {
    max-width: 980px;
    width: 100%;
}
.terms__wrapper-list {
    @include list-unstyled;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    margin-top: 36px;
    flex-wrap: wrap;
}
.terms__wrapper-item {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 10px;
    max-width: 300px;
    width: 100%;
    background: #ffffff;
    border: 0.5px solid #000000;
    &:hover {
        background: #E31E24;
        border: 0.5px solid #FFFFFF;
    }
    &:hover .terms__link-box-heading {
        color: #FFFFFF;
    }
    &:hover .terms__link-box-span {
        color: #FFFFFF;
    }
}
.terms__item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    text-decoration: none;
}
.tersm__link-img {
    display: block;
}
.terms__link-box {
}
.terms__link-box-heading {
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #E31E24;
}
.terms__link-box-span {
    display: block;
    margin: 10px 0 0 0;
    padding: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

@include breakpoint-down(650px) {
    .terms {
        gap: 15px;
    }
}